@charset "UTF-8";
table {
    width: 100%;
    border: none;
    margin-bottom: 20px;
}
table thead th {
    font-weight: bold;
    text-align: left;
    border: none;
    padding: 10px 15px;
    background: #d8d8d8;
    font-size: 14px;
}
table thead tr th:first-child {
    border-radius: 8px 0 0 8px;
}
table thead tr th:last-child {
    border-radius: 0 8px 8px 0;
}
table tbody td {
    text-align: left;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
}
table tbody tr:nth-child(even){
    background: #f3f3f3;
}
table tbody tr td:first-child {
    border-radius: 8px 0 0 8px;
}
table tbody tr td:last-child {
    border-radius: 0 8px 8px 0;
}


button{
    background:#eee;
    color:#088;
    text-decoration:none;
    width:90px;
    transition:all 0.3s;
}
button:hover{
    box-shadow:0px -5px 0 #088 inset;
}
a{
    background:#eee;
    color:#088;
    text-decoration:none;
    width:90px;
    transition:all 0.3s;
}

a:hover{
    box-shadow:0px -5px 0 #088 inset;
}