<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="../../static/js/api/tutor_api.js" th:src="@{../js/api/tutor_api.js}"></script>
<script src="../../static/js/api/user.js" th:src="@{../js/api/user.js}"></script>



ADDTUTORADMIN

<input id="name" placeholder="Имя"></input></br>
<input id="surname" placeholder="Фамилия"></input></br>
<input id="email" placeholder="Почта"></input></br>
<input id="subject" placeholder="Предмет"></input></br>
<input id="cost" type="number" placeholder="Цена в час (USD)"></input></br>
<button onclick="adminAddTutor()">Добавить репетитора</button>
</body>
</html>