<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{../js/reg.js}"></script>
</head>
<body>
ADD USER
<input id="name" placeholder="Имя"></input></br>
<input id="surname" placeholder="Фамилия"></input></br>
<input id="email" placeholder="Почта"></input></br>
<input id="login" placeholder="Логин"></input></br>
<input id="password" placeholder="Пароль"></input></br>
<button onclick="reg()">Добавить пользователя</button>

<div id="message"></div>
</body>
</html>