<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

</head>
<body>
<script src="../../static/js/api/profile_api.js" th:src="@{../js/api/profile_api.js}"></script>
<script src="../../static/js/api/user.js" th:src="@{../js/api/user.js}"></script>
<script>
    window.onload = onProfileLoad;
</script>

<div id="userInfo">
</div>
<div id="error"></div>
<p>Мои репетиторы</p>
<div id="myTutors">
<table id="myTutorsTable">
    <tr>
        <td>Репетитор</td>
        <td></td>
        <td>Почта</td>
        <td>Предмет</td>
        <td>Часы</td>
        <td>Сумма (USD)</td>
        <td>Оценка</td>
        <td>Отзыв</td>
    </tr>
</table>
</div>


</body>
</html>