<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<script src="../../static/js/api/tutor_api.js" th:src="@{../js/api/tutor_api.js}"></script>
<script src="../../static/js/api/updatetutor_api.js" th:src="@{../js/api/updatetutor_api.js}"></script>
<script>
    window.onload = onUpdateTutorLoad;
</script>

<div id="tutorData"></div>
<button onclick="updateTutorButton()">Изменить</button>
<div id="errMes"></div>
</body>
</html>