<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<script src="../../static/js/api/user_api.js" th:src="@{../js/api/user_api.js}"></script>
<script src="../../static/js/user.js" th:src="@{../js/user.js}"></script>
<script>
    window.onload =  onUserUpdateLoad
</script>

<div id="userData"></div>
<button onclick="updateUserButton()">Изменить</button>
<div id="errMesUser"></div>
</body>
</html>